.forecast-next-days__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 317px;
  & span {
    margin: 0 10px;
    box-shadow: 0px 0px 0px 1px #cccccc1c;
    height: 60%;
    background: #a6a6a6;
  }
}

.forecast-next-weeks__container {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.forecast-next-weeks__btn {
  color: #ffffffdb;
  font-size: 13px;
}

.forecast-next-weeks__btn:nth-child(2) {
  color: rgba(255, 255, 255, 0.8588235294);
}

.forecast-next-weeks__btn:hover {
  color: #fff;
}

:disabled {
  margin: 0;
  padding: 4px 7px;
  color: #fff;
  background: rgb(204 202 202 / 20%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.forecast-next-days-info__container {
  width: 100%;
  height: 240px;
  & ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
    // height: 100%;
  }
  & li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  & > .forecast-next-days__no-data,
  .forecast-next-days__no-current-data {
    text-align: center;
    & > p:nth-child(2) {
      font-size: 40px;
      color: #ccc;
      margin-top: 34px;
      line-height: 1.1;
    }
  }
}

.forecast-next-days__weather-image {
  margin-right: 8px;
  & > img {
    width: 35px;
    height: 36px;
    background: rgba(191, 191, 191, 0.15);
    padding: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
}

.forecast-next-days__weather-temperature {
  text-align: center;
  width: 24px;
  font-size: 13px;
  gap: 3px;
  display: flex;
  font-weight: 300;
  padding-left: 8px;
  box-shadow: 0px 0px 0px 2px #cccccc1c;
  flex-direction: column;
}

.forecast-next-days__weather-description {
  display: flex;
  margin-right: auto;
  width: 58%;
  font-size: 13px;
  font-weight: 300;
  flex-direction: column;
  & p:nth-child(2) {
    color: #ffffff7a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.forecast-next-days-info__container {
  position: relative;
}

.arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  cursor: pointer;
  padding: 5px 0px;
  // &:hover {
  //   // background: rgb(168 167 167 / 20%);
  // }
  & > img {
    width: 14px;
    height: 14px;
    opacity: 0.8;
  }
}

.arrow-up {
  top: 0;
  & > img {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}

.arrow-down {
  bottom: 0;
  & > img {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}




.forecast-next-days-info__container {
  overflow: hidden;
}

.forecast-next-days__list {
  overflow-y: auto;
  overflow-x: hidden;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.arrow {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.forecast-next-days-info__container:hover .arrow {
  opacity: 1;
  pointer-events: auto;
}